@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
      --background: 2 100% 95%;
      --foreground: 2 5% 5%;
      --card: -36 30% 79%;
      --card-foreground: 2 5% 10%;
      --popover: 2 100% 95%;
      --popover-foreground: 2 100% 5%;
      --primary: 2 100% 59%;
      --primary-foreground: 0 0% 100%;
      --secondary: 2 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: -36 30% 86%;
      --muted-foreground: 2 5% 35%;
      --accent: -36 30% 80%;
      --accent-foreground: 2 5% 10%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 2 5% 90%;
      --border: -36 30% 59%;
      --input: 2 30% 18%;
      --ring: 2 100% 59%;
      --radius: 1rem;
    }
  
    .dark {
      --background: 214 50% 10%;
      --foreground: 214 5% 90%;
      --card: 214 50% 10%;
      --card-foreground: 214 5% 90%;
      --popover: 214 50% 5%;
      --popover-foreground: 214 5% 90%;
      --primary: 214 100% 59%;
      --primary-foreground: 0 0% 100%;
      --secondary: 214 30% 20%;
      --secondary-foreground: 0 0% 100%;
      --muted: 176 30% 25%;
      --muted-foreground: 214 5% 60%;
      --accent: 176 30% 25%;
      --accent-foreground: 214 5% 90%;
      --destructive: 0 100% 38%;
      --destructive-foreground: 214 5% 90%;
      --border: 214 30% 38%;
      --input: 214 30% 38%;
      --ring: black;
      --radius: 1rem;
    }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    .input-background {
      background-color: #C7C8CC;
    }
  
    .dark .input-background {
      background-color: #B4B4B8;
    }
}